body {
  background-color: #ffffff !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.employee-box{
  background-color: #ffffff;
  border-width: 0;
  border-radius: 20px !important;
  padding: 25px;
  align-items:center;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.681) 0px 18px 36px -18px !important;
  transition:all 0.5s ease;
  border: 1px solid #ebecf0;
}

.employee-box:hover{
  transform: scale(101%);
  box-shadow: rgba(8, 161, 164, 0.35) 0px 5px 15px !important;
  background: #ffffff;
}

/* Custom styling for the search bar */
.input-group {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto; /* Center the search bar */
    border-radius: 15px !important;
  }
  
  /* Additional styling for the search button */
  .btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

#employee{
  margin-left: auto;
  margin-right: auto;
}

#livebutton {
  background-color: #000080 !important;
  color: #ffffff !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 10px;
  border-radius: 10px !important;
}

#livebutton:hover {
  background-color: #5783db  !important;
  color: #000 !important;
  box-shadow: 0px 5px 15px rgba(128, 102, 157, 0.5) !important;
}


#viewbutton {
  background-color: #000080 !important;
  color: #ffffff !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 10px;
  border-radius: 10px !important;
}

#viewbutton:hover{
  background-color: #5783db  !important;
  color: #000 !important;
  box-shadow: 0px 5px 15px rgba(128, 102, 157, 0.5) !important;
}


.defaultbutton a {
  text-decoration: none; /* Removes the underline */
}

.heading{
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #111D46;
  padding-top: 20px;
  padding-left: 20px;
 
}

.sidebar.collapsed {
  width: 70px;
}

.logo {
  text-align: center;
  margin-bottom: 20px; /* Reduced margin for better appearance */
}

.logo img {
  width: 100px;
}

.nav-link {
  color: white;
  transition: all 0.3s ease-in-out; /* Adding transition for smoother animation */
}

.nav-link:hover {
  color: #17a2b8; /* Change color on hover */
}

/* Added class to control display on medium devices */
.nav-link.d-md-block {
  display: none;
}