body {
  background-color: #FFEEDA !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}


/* Custom styling for the search bar */
.input-group {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto; /* Center the search bar */
  }
  
  /* Additional styling for the search button */
  .btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

#employee{
  margin-left: auto;
  margin-right: auto;
}


