body{
  background-color: #FFEEDA !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}





/* Center align the card */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to viewport height */
  }