body {
  background-color: #fff !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  }

  .form-control{
    border-radius: 20px !important;
    box-shadow: #808080 0 0 10px;
  }

  .form-select{
    border-radius: 20px !important;
    box-shadow: #808080 0 0 10px;
  }
  
  #submit{
    background-color: #000080 !important;
    color: #ffffff !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 10px !important;
  }
  #submit:hover{
    background-color: #5783db  !important;
    color: #000 !important;
    box-shadow: 0px 5px 15px rgba(128, 102, 157, 0.5) !important;
  }
  
  .card{
    background-color: #ffffff;
    border-width: 0;
    border-radius: 20px !important;
    padding: 25px;
    align-items:center;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px ;
    transition:all 0.5s ease;
    border: 1px solid #ebecf0;
  }
  
  .card:hover{
    transform: scale(101%);
    box-shadow: rgba(8, 161, 164, 0.35) 0px 5px 15px !important;
    background: #ffffff;
  }
  
  h5{
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #dateneed{
    border-radius: 0% !important;
  }