body {
        background-color: #fff !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        overflow: hidden;
    }

.img-fluid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}

.img-fluid:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card-body {
    text-align: left;
}

.card{
    background-color: #ffffff;
    border-width: 0;
    border-radius: 30px !important;
    padding: 25px;
    align-items:center;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px ;
    transition:all 0.5s ease;
    border: 1px solid #ebecf0;
    text-align: center;
    overflow: hidden;
  }
  
  .card:hover{
    transform: scale(101%);
    background: #ffffff;
    box-shadow: rgba(8, 161, 164, 0.35) 0px 5px 15px !important;
  }

  h5{
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

 
